@charset "UTF-8";
html {
  box-sizing: border-box;
  background: lightseagreen;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto Light", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: darkgreen;
}

.container {
  width: 1200px;
  margin: 0 auto;
  z-index: -8;
}

.title-main-middle {
  font-size: 36px;
  font-weight: 300;
  word-break: break-word;
  color: #2336A5;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.test-standart {
  width: 1200px;
  color: darkblue;
  font-size: 20px;
  text-align: center;
}

img {
  border-radius: 14px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xx996d");
  src: url("../fonts/icomoon.eot?xx996d#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xx996d") format("truetype"), url("../fonts/icomoon.woff?xx996d") format("woff"), url("../fonts/icomoon.svg?xx996d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
  content: "";
}

.icon-stack:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.breadcrumbs__inner {
  display: flex;
  margin-left: 40px;
  margin-top: 16px;
}

.breadcrumbs__list {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs__list li a {
  text-decoration: none;
  color: darkgreen;
  margin-right: 8px;
}
.breadcrumbs__list li span {
  color: darkgreen;
  font-weight: bold;
}

body {
  background-color: transparent;
}

.list_article {
  margin-top: 25px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.image-article {
  max-width: 300px;
  max-height: 150px;
  display: inline-block;
  overflow: hidden;
  border-radius: 14px;
  /*что не попадает в блок - скрыто*/
  /* Убираем небольшой отступ снизу */
}
.image-article img {
  transition: 1s;
  display: block;
}

.article img:hover {
  transform: scale(1.2);
}

.article:hover .title-article a {
  color: darkred;
}

.list_reviews {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.content-reviews {
  max-width: 300px;
  max-height: 150px;
  text-align: justify;
  display: inline-block;
  overflow: hidden;
}

/*что не попадает в блок - скрыто*/
.botton_news {
  display: flex;
  justify-content: center;
}

.title-article {
  text-align: center;
}
.title-article a {
  text-decoration: none;
  color: yellow;
  transition: 0.5s;
}
.title-article a:hover {
  text-decoration: none;
  color: darkred;
}

.products__inner-btn {
  padding-top: 12px;
  text-align: center;
  margin-bottom: 50px;
}
.products__inner-btn button {
  border-radius: 10px;
  padding: 12px 21px;
  border: none;
  background-color: #fff;
  color: #1c7430;
  cursor: pointer;
}
.products__inner-btn button + button {
  margin-left: 5px;
}
.products__inner-btn button.mixitup-control-active {
  background-color: red;
  color: white;
  outline: none;
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 342px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 14px;
}
.product__item-img {
  min-height: 250px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: cover;
  background-image: url(img/article1.jpg);
  transition: 1s;
}
.product__item-img:hover {
  transform: scale(1.48);
}
.product__item-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  max-height: 90px;
  color: blue;
}
.product__item-title {
  color: green;
  line-height: 60px;
  font-weight: 500;
  font-size: 18px;
  display: block;
}
.product__item-category {
  display: block;
}

.reviews {
  cursor: pointer;
  padding: 20px;
  transition: 1s;
  border-radius: 14px;
}
.reviews:hover {
  border: 0.5px dashed yellow;
  background-color: rgba(255, 255, 0, 0.1);
}

.title-reviews {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  text-decoration: none;
}

.link-review {
  width: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
}
.link-review a {
  text-decoration: none;
}

.img-reviews {
  overflow: hidden;
  border-radius: 50%;
}
.img-reviews img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 1s;
}
.img-reviews img:hover {
  transform: scale(1.2);
}

.link-review-name {
  color: blue;
  transition: 1s;
  font-size: 18px;
  user-select: none;
}

.link-review-text a {
  color: orange;
  transition: 1s;
  font-size: 24px;
}

.content-reviews a {
  transition: 1s;
  text-decoration: none;
  color: darkgreen;
}

.reviews:hover .link-review-name {
  color: red;
}
.reviews:hover .link-review-text a {
  color: yellow;
  text-decoration: underline;
}
.reviews:hover .content-reviews a {
  color: yellow;
}

.slider {
  padding: 20px 0px 10px;
}

.slider__item {
  background-image: url(../img/main/article3.png);
  min-height: 440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.slider__item-title {
  font-size: 50px;
  color: #fff;
  width: 300px;
  margin-left: 60px;
  font-weight: 700;
  padding-top: 90px;
}

.slick-dots li button {
  width: 14px;
  height: 14px;
  background-color: rgba(98, 98, 98, 0.5);
  border-radius: 50%;
}
.slick-dots li.slick-active button {
  background-color: white;
}
.slick-dots li button::before {
  display: none;
}

.items {
  background-color: #e8ebf1;
  padding: 60px 0px 50px;
  border-bottom: 1px solid #d9d9d9;
}

.items__inner {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 225px;
  font-family: "arial", sans-serif;
}

.item__title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 0 0 60px;
  margin-bottom: 30px;
  position: relative;
}

.item__icons {
  position: absolute;
  top: 0;
  left: 0;
}

.item__text {
  font-size: 13px;
  color: #363636;
  margin-bottom: 25px;
}

.item__link {
  padding-left: 15px;
  font-size: 13px;
  color: #2aacc8;
  position: relative;
}
.item__link::before {
  content: "";
  position: absolute;
  background-image: url(../icons/arrow.png);
  left: 0;
  top: 4px;
  width: 5px;
  height: 7px;
}

.works__title {
  padding: 25px 0px 15px 40px;
  position: relative;
  font-family: "arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.works__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-image: url(../icons/cursor.png);
  width: 14px;
  height: 24px;
}

.works__inner-item {
  width: 200px;
  height: 200px;
  width: 150px;
  height: 150px;
  padding: 10px 10px;
}

.works__inner {
  padding: 20px 0px 40px;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
}

.slick-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1eacc7;
}
.slick-arrow::before {
  display: none;
}
.slick-arrow:hover, .slick-arrow:focus {
  background-color: #1eacc7;
}

.slick-prev {
  right: 30px;
  top: -27px;
  left: auto;
}

.slick-next {
  right: 0;
  top: -27px;
}

.works__inner-box {
  z-index: 2;
  display: inline-block;
}

.works__inner-link {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Article__PackOfMoney-inner {
  margin: 0 auto;
  padding-left: 400px;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Article__PackOfMoney {
  position: relative;
  width: 750px;
  height: 1334px;
  margin-top: 150px;
  background-color: transparent;
  transform: scale(0.5) rotate(-30deg) skew(25deg);
}
.Article__PackOfMoney img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.Article__PackOfMoney:hover img:nth-child(9) {
  transform: translate(55px, -55px);
  opacity: 1;
}

.Article__PackOfMoney:hover img:nth-child(8) {
  transform: translate(50px, -50px);
  opacity: 0.9;
}

.Article__PackOfMoney:hover img:nth-child(7) {
  transform: translate(45px, -45px);
  opacity: 0.8;
}

.Article__PackOfMoney:hover img:nth-child(6) {
  transform: translate(40px, -40px);
  opacity: 0.7;
}

.Article__PackOfMoney:hover img:nth-child(5) {
  transform: translate(35px, -35px);
  opacity: 0.6;
}

.Article__PackOfMoney:hover img:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.5;
}

.Article__PackOfMoney:hover img:nth-child(3) {
  transform: translate(25px, -25px);
  opacity: 0.4;
}

.Article__PackOfMoney:hover img:nth-child(2) {
  transform: translate(15px, -15px);
  opacity: 0.3;
}

.Article__PackOfMoney:hover img:nth-child(1) {
  transform: translate(10px, -10px);
  opacity: 0.2;
}

.article__content {
  margin-top: 20px;
}

.list-games {
  display: flex;
  justify-content: flex-start;
}

.games-card {
  width: 250px;
  height: 300px;
  display: block;
  margin: 10px 30px;
}

.games-card-img {
  display: block;
  border-radius: 14px;
  height: 250px;
  weight: 250px;
  overflow: hidden;
}
.games-card-img img {
  height: 250px;
  weight: 250px;
  overflow: hidden;
  transition: 0.7s;
}
.games-card-img img:hover {
  transform: scale(1.2);
}

.games-card a img:hover {
  transform: scale(1.2);
}

.games-card:hover .games-card-title a {
  color: darkred;
}

.games-card-title {
  text-align: center;
}
.games-card-title a {
  text-decoration: none;
  color: yellow;
  transition: 0.5s;
}

.list_games {
  display: flex;
  justify-content: space-around;
}

.image-games-one {
  display: block;
  margin: 0 auto;
  border-radius: 14px;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.image-games-one img {
  transition: 1s;
  display: block;
  width: 400px;
  height: 400px;
}

.image-games-one img:hover {
  transform: scale(1.2);
}

.Game-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.btn {
  font-size: 25px;
  font-family: monospace;
  color: lightskyblue;
  background: linear-gradient(to right, red, orange, yellow, green, lightskyblue, blue, purple);
  text-decoration: none;
  padding: 20px 70px;
  border-radius: 12px;
  background-size: 200%;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

.tabs-inner {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 360px;
}

.btn-box {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.btn-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.7s;
}
.btn-box button button:hover {
  color: #ff7846;
}

.tabs-content__right img {
  width: 350px;
  margin-right: 20px;
}

tabs-content__right-calc img {
  width: 350px;
  margin-right: 50px;
}

.tabs-content {
  display: flex;
  position: absolute;
  transform: translateX(300%);
  transition: 0.7s;
  justify-content: space-between;
  text-align: center;
  margin: 20px auto;
}
.tabs-content__left {
  flex-basis: 60%;
}
.tabs-content__left p {
  padding: 10px 0;
  text-align: left;
}
.tabs-content__left a {
  width: 150px;
  padding: 8px 5px;
  border-radius: 20px;
  text-decoration: none;
  background-color: lightblue;
  color: red;
  text-align: center;
}
.tabs-content__right {
  flex-basis: 50%;
  text-align: left;
  padding: 24px;
}

#content1 {
  transform: translateX(0px);
}

#btn1 {
  color: #ff7846;
}

.button-For-Like {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  animation: pulse 1.2s ease infinite;
  background: red;
  color: darkblue;
  font-size: 18px;
  cursor: pointer;
}
.button-For-Like button {
  background: transparent;
  border: none;
  color: white;
  font-size: 48px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
  }
}
.footer1 {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 677px) {
  .footer1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.mushroom1 {
  opacity: 0;
}

.footer1-img {
  position: relative;
  height: 115px;
  width: 115px;
  background-color: transparent;
}
@media only screen and (max-width: 677px) {
  .footer1-img {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 677px) {
  .footer1-img:nth-child(2) {
    display: none;
  }
}
.footer1-img img {
  position: absolute;
  width: 100%;
  transition: 1s;
}

.mushroom1:hover {
  opacity: 1;
}

.footer1-img img {
  width: 80%;
  height: 100%;
}

.footer1-menu {
  display: flex;
  justify-content: space-between;
}

.footer1-menu li {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
}
@media only screen and (max-width: 677px) {
  .footer1-menu li {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.flink {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  overflow: hidden;
  border-radius: 14px;
  transition: 1s;
  background: linear-gradient(180deg, transparent, #295FFE);
}

.flink-text {
  text-decoration: none;
  -webkit-box-direction: normal;
  font-family: Graphik, Arial, sans-serif;
  color: yellow;
  outline: none;
  border-bottom: 1px solid darkorange;
  font-size: 16px;
  line-height: 24px;
}

.flink-text:hover {
  color: yellow;
}

.flink-line {
  position: absolute;
  display: block;
}

.flink-line-top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, yellow);
}

.flink:hover .flink-line-top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.flink-line-bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, yellow);
}

.flink:hover .flink-line-bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.flink-line-left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, yellow);
}

.flink:hover .flink-line-left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.flink-line-right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, yellow);
}

.flink:hover .flink-line-right {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.flink a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: yellow;
  transition: 0.5s;
  transition-delay: 0.3s;
  transform: scaleX(0);
}

.flink a:hover:before {
  transform: scaleX(1);
}

.flink a {
  text-decoration: none;
  position: relative;
}

.footer2 {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 677px) {
  .footer2 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.footer2-logo {
  width: 300px;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.footer-logo-prototip img {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 14px;
}

.footer2-logo-text {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  word-break: break-word;
  color: darkred;
}

.footer2-content {
  width: 800px;
}
@media only screen and (max-width: 677px) {
  .footer2-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.footer2-content-up {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 677px) {
  .footer2-content-up {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.footer2-content-up-bottom {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 15px;
}

.footer2-content-down {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 677px) {
  .footer2-content-down {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.footer2-content-down-license {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 300;
  color: red;
  text-align: center;
}
@media only screen and (max-width: 677px) {
  .footer2-content-down-license {
    font-weight: 200;
    width: 400px;
    height: 100%;
  }
}
.footer2-content-down-license::before {
  content: "";
  font-family: "icomoon";
}

.footer2-content-down-creature {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 300;
  color: lightskyblue;
  text-align: center;
}
@media only screen and (max-width: 677px) {
  .footer2-content-down-creature {
    display: none;
  }
}

.footer2-content-down-creature:before,
.footer2-content-down-creature:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  top: -10px;
  left: 50%;
  z-index: 1;
  transition: all 1s ease 0s;
  margin: 0px 0px 0px -40px;
}

.footer2-content-down-creature:before {
  animation: rotate 17s infinite linear;
}

.footer2-content-down-creature:after {
  animation: rotate 10s infinite linear;
}

.footer2-content-down-creature-text {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  border-radius: 50px;
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 10px;
  transition: all 1s ease 0s;
  top: 0;
  overflow: hidden;
}
@media only screen and (max-width: 677px) {
  .footer2-content-down-creature-text {
    height: 30px;
    padding: 0;
    transition: none;
  }
}

.footer2-content-down-creature-text:before,
.footer2-content-down-creature-text:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #eee;
  transition: all 1s ease 0s;
}

.footer2-content-down-creature-text:before {
  left: 0;
  z-index: 2;
}

.footer2-content-down-creature-text:after {
  right: 0;
}

.footer2-content-down-creature-text span {
  position: relative;
  z-index: 2;
}

.footer2-content-down-creature:hover:before,
.footer2-content-down-creature:hover:after {
  left: 100%;
  opacity: 0;
}

.footer2-content-down-creature-text {
  top: -10px;
  color: white;
  transition: all 2s ease 0s;
  box-shadow: 0 5px 0px 0 #0c5b52;
}

.footer2-content-down-creature-text:before,
.footer2-content-down-creature-text:after {
  background-color: green;
}

.footer2-content-down-creature:hover .footer2-content-down-creature-text:before {
  width: 100%;
}

.footer2-content-down-creature:active .footer2-content-down-creature-text {
  top: -7px;
  transition: all 2s ease 0s;
  box-shadow: 0 5px 0px 0 #0c5b52;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
.footer_icon_social_network-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer_icon_social_network-list li {
  position: relative;
  list-style-type: none;
  width: 65px;
  height: 65px;
  margin: 0 1px;
  border-radius: 50%;
}
.footer_icon_social_network-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.footer_icon_social_network-list li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
  filter: blur(40px);
}
.footer_icon_social_network-list li:hover:before, .footer_icon_social_network-list li:hover:after {
  opacity: 1;
}
.footer_icon_social_network-list li a {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  background-color: #BF6363;
  color: #FFF;
  font-size: 20px;
  border-radius: 50%;
}
.footer_icon_social_network-list li a i {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  transition: 0.5s;
}
.footer_icon_social_network-list li a:hover i {
  opacity: 1;
  transform: scale(1.5);
}
.footer_icon_social_network-list li:nth-child(1) a, .footer_icon_social_network-list li:nth-child(1):before, .footer_icon_social_network-list li:nth-child(1):after {
  background: #519af5;
  background: linear-gradient(45deg, #4782c6, rgba(71, 130, 198, 0.7));
}
.footer_icon_social_network-list li:nth-child(2) a, .footer_icon_social_network-list li:nth-child(2):before, .footer_icon_social_network-list li:nth-child(2):after {
  background: #f12711;
  background: linear-gradient(45deg, #33a8da, rgba(51, 168, 218, 0.7));
}
.footer_icon_social_network-list li:nth-child(3) a, .footer_icon_social_network-list li:nth-child(3):before, .footer_icon_social_network-list li:nth-child(3):after {
  background: #f12711;
  background: linear-gradient(45deg, #8899f7, rgba(136, 153, 247, 0.7));
}
.footer_icon_social_network-list li:nth-child(4) a, .footer_icon_social_network-list li:nth-child(4):before, .footer_icon_social_network-list li:nth-child(4):after {
  background: #f12711;
  background: linear-gradient(45deg, #009ded, rgba(0, 157, 237, 0.7));
}
.footer_icon_social_network-list li:nth-child(5) a, .footer_icon_social_network-list li:nth-child(5):before, .footer_icon_social_network-list li:nth-child(5):after {
  background: #519af5;
  background: linear-gradient(45deg, #f18f00, rgba(241, 143, 0, 0.7));
}
.footer_icon_social_network-list li:nth-child(6) a, .footer_icon_social_network-list li:nth-child(6):before, .footer_icon_social_network-list li:nth-child(6):after {
  background: #519af5;
  background: linear-gradient(45deg, #4ecb5c, rgba(78, 203, 92, 0.7));
}
.footer_icon_social_network-list li:nth-child(7) a, .footer_icon_social_network-list li:nth-child(7):before, .footer_icon_social_network-list li:nth-child(7):after {
  background: #519af5;
  background: linear-gradient(45deg, #5f44c8, rgba(95, 68, 200, 0.7));
}

.header-inner {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 577px) {
  .header-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
  }
}

.header-button {
  margin-top: 12px;
  margin-left: 24px;
}
.header-button a img {
  width: 200px;
  height: 50px;
  border-radius: 12px;
}

.button-enter {
  margin-top: 14px;
  width: 96px;
  height: 48px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  background-color: #BF6363;
  color: #FFF;
  font-size: 20px;
  border-radius: 15%;
}
.button-enter a {
  text-decoration: none;
  color: yellow;
  transition: 0.5s;
}
.button-enter a:hover {
  text-decoration: none;
  color: darkred;
}

.button-registration {
  margin-top: 14px;
  width: 200px;
  height: 48px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  line-height: 50px;
  background-color: #BF6363;
  color: #FFF;
  font-size: 20px;
  border-radius: 15%;
}
.button-registration a {
  text-decoration: none;
  color: yellow;
  transition: 0.5s;
}
.button-registration a:hover {
  text-decoration: none;
  color: darkred;
}

.buttons-enters {
  display: flex;
}

.buttons-enters {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.buttons-enters li {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
}

.hlink {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  overflow: hidden;
  border-radius: 14px;
  transition: 1s;
  background: linear-gradient(180deg, transparent, #295FFE);
}

.hlink-text {
  text-decoration: none;
  -webkit-box-direction: normal;
  font-family: Graphik, Arial, sans-serif;
  color: yellow;
  outline: none;
  border-bottom: 1px solid darkorange;
  font-size: 16px;
  line-height: 24px;
}

.hlink-text:hover {
  color: yellow;
}

.hlink-line {
  position: absolute;
  display: block;
}

.hlink-line-top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, yellow);
}

.hlink:hover .hlink-line-top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hlink-line-bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, yellow);
}

.hlink:hover .hlink-line-bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hlink-line-left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, yellow);
}

.hlink:hover .hlink-line-left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hlink-line-right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, yellow);
}

.hlink:hover .hlink-line-right {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hlink a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: yellow;
  transition: 0.5s;
  transition-delay: 0.3s;
  transform: scaleX(0);
}

.hlink a:hover:before {
  transform: scaleX(1);
}

.hlink a {
  text-decoration: none;
  position: relative;
}

#modal {
  background-color: green;
  max-width: 730px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  border-radius: 14px;
}

.login-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  position: relative;
  display: block;
  width: 100%;
}
label::before {
  position: absolute;
  font-family: "icomoon";
  font-size: 14px;
  color: white;
  left: 18px;
}

/** input
 *  height: 43px
 *  margin-bottom: 8px
 *  border: none
 *  background-color: #76ae36
 *  color: white
 *  font-size: 14px
 *  padding-left: 40px
 *  display: block
 *  width: 100%
 *
 *  &::placeholder
 *      color: white **/
.popap-button {
  margin: 19px 30%;
  padding: 18px 16px;
  background-color: #2336A5;
  width: 140px;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
}
.popap-button-enter {
  color: white;
}

.fancybox-button svg path {
  color: white;
}

#animatedModal {
  background-color: green;
  max-width: 730px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
  border-radius: 14px;
}

.animated-modal {
  max-width: 550px;
  border-radius: 14px;
  overflow: hidden;
  transform: translateY(-50px);
  transition: all 0.7s;
}

.animated-modal h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  transform: translateY(-50px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2 {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: 0.1s;
}

.popap-button2 {
  margin: 19px 20%;
  padding: 18px 16px;
  background-color: #2336A5;
  width: 240px;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
}
.popap-button2-register {
  color: white;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}

html:hover .spider {
  top: -120%;
}

.spider {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 30%;
  animation: swing 2s infinite;
  transform-origin: top;
  transition: 1s ease-in-out;
}
.spider .spiderweb {
  width: 2px;
  height: 200px;
  margin-left: 49px;
  background: rgba(255, 255, 255, 0.7);
}
.spider .body {
  width: 100px;
  height: 80px;
  background: #000;
  position: relative;
  border-radius: 50%;
}
.spider .body .eye {
  width: 33px;
  height: 33px;
  position: absolute;
  bottom: 20px;
  background: #fff;
  border-radius: 50%;
}
.spider .body .eye.left {
  left: 15px;
}
.spider .body .eye.right {
  right: 15px;
}
.spider .body .eye:after {
  background: #000;
  width: 7px;
  height: 7px;
  content: "";
  display: block;
  margin: 55%;
  border-radius: 50%;
  animation: look 8s infinite;
}
.spider .legs {
  position: absolute;
  bottom: -10%;
  z-index: -1;
}
.spider .legs .leg {
  width: 80px;
  height: 40px;
  margin-top: -20px;
  border: 5px solid transparent;
  border-top-color: #000;
  border-radius: 40px 40px 0 0;
}
.spider .legs.left {
  left: -70%;
}
.spider .legs.right {
  right: -60%;
}

.legs.left .leg:nth-child(1) {
  transform: rotate(10deg);
  margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
  transform: rotate(-10deg);
  margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
  transform: rotate(-20deg);
  margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
  transform: rotate(20deg);
  margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
  transform: rotate(-50deg);
  margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
  transform: rotate(50deg);
  margin-left: -30px;
}

@keyframes look {
  0%, 40%, 100% {
    transform: translateX(0);
  }
  45%, 95% {
    transform: translateX(-110%);
  }
}
@keyframes swing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.h1-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title-errors {
  font-size: 9rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-image: url("../img/404/wasser.svg");
  width: 1000px;
  height: 200px;
  -webkit-background-clip: text;
  animation: wave 10s infinite;
}

@keyframes wave {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}
.advertisement-wrapper {
  display: flex;
  justify-content: center;
}

.advertisement {
  width: 800px;
  height: 120px;
  position: relative;
  display: inline-block;
  padding-top: 42px;
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  background-color: inherit;
}
.advertisement-text {
  color: yellow;
  text-align: center;
}

.advertisement::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100px;
  border-radius: 14px;
  background-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-size: 200%;
  animation: animate-ad 1s ease infinite;
}

@keyframes animate-ad {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.bodyforapps {
  background: black;
  user-select: none;
}

.calculator-on-iPhone-JS {
  overflow: hidden;
  background: black;
  color: white;
  height: 780px;
  position: relative;
  padding-left: 10px;
  width: 550px;
}

.status {
  display: flex;
  justify-content: start;
}

.signal {
  margin-right: 7px;
  width: 20px;
  height: 10px;
}
.signal img {
  border-radius: 0;
}

.wifi {
  margin-left: 7px;
  width: 20px;
  height: 20px;
}

.battery {
  width: 8px;
  height: 5px;
  display: flex;
  justify-content: space-between;
}
.battery-logo img {
  width: 40px;
  height: 53px;
  padding-bottom: 30px;
}

.top-bar {
  display: flex;
  height: 90px;
  width: 463px;
  justify-content: space-between;
  padding: 0 20px;
}

.value {
  font-size: 130px;
  font-weight: 300;
  height: 70px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: right;
}

.buttons-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 100px;
  justify-content: center;
  transition: filter 0.3s;
  width: 100px;
}
.button.function {
  color: black;
  background: #a5a5a5;
}
.button.operator {
  background: #f1a33c;
}
.button.number-0 {
  border-radius: 55px;
  grid-column: 1/span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 250px;
}
.button:active, .button:focus {
  filter: brightness(133%);
}

.TicTacToe-Wrapper {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  background: #14BDAC;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.TicTacToe {
  background: #14BDAC;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}
@media only screen and (max-width: 540px) {
  .TicTacToe {
    margin: 25px;
    padding: 25px;
  }
}

.title-TicTacToe {
  text-align: center;
  color: darkorange;
}

.title-TicTacToe span {
  color: #F2EBD3;
  margin-left: 12px;
  margin-right: 12px;
}

.statusWrapper-TicTacToe {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status-TicTacToe span {
  color: #F2EBD3;
}

.newGame-TicTacToe {
  cursor: pointer;
}

.newGame-TicTacToe:hover {
  color: #F2EBD3;
}

.gameNet-TicTacToe {
  background: #0DA192;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .gameNet-TicTacToe {
    margin-top: 25px;
    grid-gap: 10px;
  }
}

.game-cell-TicTacToe {
  background: #14BDAC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 1024px) {
  .game-cell-TicTacToe {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .game-cell-TicTacToe {
    height: 100px;
    width: 100px;
  }
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: "×";
  font-size: 200px;
}
@media only screen and (max-width: 1024px) {
  .x::after {
    font-size: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .x::after {
    font-size: 100px;
  }
}

.o::after {
  content: "○";
  color: #F2EBD3;
  font-size: 225px;
}
@media only screen and (max-width: 1024px) {
  .o::after {
    font-size: 175px;
  }
}
@media only screen and (max-width: 540px) {
  .o::after {
    font-size: 125px;
  }
}

.won::after {
  color: #BD022F;
}

.SectionOne {
  min-weight: 1000px;
  min-height: 1100px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header-inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 21.54px;
  width: 70%;
}
.header-inner .logo img {
  width: 55px;
  height: 55px;
  border-radius: 0;
}
.header-inner .menu-inner {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.header-inner .menu-inner .submenu-main {
  color: white;
  font-style: normal;
  font-weight: 700;
  margin: 4%;
  text-transform: uppercase;
  white-space: nowrap;
}
.header-inner .buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 150px;
}
.header-inner .buttons .language {
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  top: 30%;
}
.header-inner .buttons .separator {
  position: absolute;
  top: 20%;
  left: 38%;
}
.header-inner .buttons .logo-Xbox {
  position: absolute;
  left: 40%;
  top: 20%;
}
.header-inner .buttons .logo-steam {
  position: absolute;
  margin-top: 10%;
  left: 80%;
}

.title-wrapper {
  margin-top: 10%;
}

.Main-title {
  font-family: Bebas Neue;
  font-style: bold;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.sub-title {
  margin-top: 40px;
  font-family: Bebas Neue;
  font-style: bold;
  font-size: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.button-yellow {
  margin: 0 auto;
  position: relative;
  margin-top: 28.55px;
  width: 260.36px;
  height: 60px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  cursor: pointer;
}
.button-yellow-left {
  position: absolute;
  left: 16.39px;
  top: 17.5px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.button-yellow-center {
  position: absolute;
  left: 176.17px;
  top: 16.54px;
}
.button-yellow-right {
  position: absolute;
  right: 16.39px;
  top: 17.5px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.the-story {
  position: relative;
  width: 68px;
  height: 25px;
  margin: 0 auto;
  margin-top: 570px;
  margin-button: 20px;
  cursor: pointer;
}
.the-story-text {
  font-family: OpenSans;
  font-style: bold;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}
.the-story-img {
  position: absolute;
  left: 42%;
}

.SectionTwo {
  min-weight: 1000px;
  min-height: 1100px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}
.SectionTwo .h1up {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 256px;
  left: 122px;
  font-size: 24px;
  font-family: Bebas Neue;
}
.SectionTwo .h1Main {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  top: 293px;
  left: 120px;
  line-height: 80px;
  width: 600px;
  font-weight: 700;
  font-size: 60px;
  font-family: Bebas Neue;
}
.SectionTwo .textSectionTwo {
  position: absolute;
  color: white;
  top: 520px;
  left: 310px;
  font-size: 18px;
  width: 360px;
  text-align: justify;
  font-weight: 400;
  line-height: 22px;
  font-family: Open Sans;
}

.SectionThree {
  min-weight: 1000px;
  min-height: 880px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.S3-h1up-text {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 169px;
  left: 800px;
  font-family: Bebas Neue;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.S3-h1main-text {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 208px;
  left: 800px;
  font-family: Bebas Neue;
  font-weight: 700;
  font-size: 80px;
  font-style: normal;
}

.SectionFour {
  min-weight: 1000px;
  min-height: 880px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.s4-h1up-text {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 145px;
  left: 570px;
  font-size: 24px;
  line-height: 24px;
  font-family: Bebas Neue;
}

.s4-h1main-text {
  position: absolute;
  color: white;
  text-transform: uppercase;
  top: 182px;
  left: 419px;
  font-size: 60px;
  font-family: Bebas Neue;
}

.table-os {
  position: relative;
  top: 390px;
  left: 122px;
  width: 267px;
  height: 120px;
  border: yellow 1px solid;
}
.table-os-os {
  color: #FFB548;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 20px;
}
.table-os-text {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.table-os-processor {
  position: relative;
  display: inline;
  top: 390px;
  left: 389px;
}

.SectionFive {
  min-weight: 1000px;
  min-height: 880px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.s5h1-up {
  position: absolute;
  top: 304px;
  left: 121px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.s5h1-main {
  position: absolute;
  top: 340px;
  left: 119px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
}

.s5h1-text {
  position: absolute;
  top: 457px;
  left: 120px;
  color: white;
  width: 430px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: Open Sans;
}

.Read-more {
  position: absolute;
  top: 630px;
  left: 124px;
  width: 260px;
  height: 60px;
  background: linear-gradient(#FFB548, #F3AF34);
  border-radius: 4px;
  cursor: pointer;
}
.Read-more-text {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: Open Sans;
}

.reviewsSOS {
  position: relative;
  width: 453px;
  height: 183px;
  background-color: #1a1a1b;
  border-radius: 10px;
}
.reviewsSOS-name {
  position: absolute;
  color: #FFB548;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  left: 109px;
  top: 26px;
  letter-spacing: 2px;
}
.reviewsSOS-subname {
  position: absolute;
  top: 47px;
  left: 109px;
  color: #5d5d5e;
}
.reviewsSOS-img {
  position: absolute;
  top: 11px;
  left: 12px;
}
.reviewsSOS-img img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.reviewsSOS-yellowCircle {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 66px;
  height: 66px;
  background-color: #FFB548;
  border-radius: 50%;
  z-index: -1;
}
.reviewsSOS-social {
  position: absolute;
  top: 30px;
  left: 414px;
}
.reviewsSOS-text {
  position: absolute;
  top: 103px;
  left: 16px;
  color: white;
}
.reviewsSOS-date {
  margin-left: 16px;
  margin-top: 141px;
  color: #5d5d5e;
}

.evan {
  position: absolute;
  top: 160px;
  left: 870px;
}

.SectionSix {
  min-weight: 1000px;
  min-height: 880px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.s6h1-up {
  position: absolute;
  top: 220px;
  left: 678px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.s6h1-main {
  position: absolute;
  top: 260px;
  left: 678px;
  color: white;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: Bebas Neue;
}

.s6h1-text {
  position: absolute;
  top: 380px;
  left: 675px;
  width: 645px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 22px;
}

.s6img-main {
  position: absolute;
  top: 50px;
  left: 160px;
}

.email {
  position: absolute;
  top: 510px;
  left: 676px;
  width: 367px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
}
.email-text {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 21px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}
.email-email .field-email {
  color: #FFB548;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  font-family: Open Sans;
  margin-left: 21px;
  cursor: pointer;
}
.email-email .field-email::placeholder {
  color: #FFB548;
}
.email-email .field-email:focus {
  outline: none;
}

.button-subscribe {
  position: absolute;
  top: 511px;
  left: 1060px;
  width: 260px;
  height: 60px;
  background: linear-gradient(#FFB548, #F3AF34);
  border-radius: 4px;
  cursor: pointer;
}
.button-subscribe-text {
  font-size: 16px;
  font-weight: 700;
  font-family: Open Sans;
  text-align: center;
}

.rights-text {
  color: red;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: Open Sans;
}

/*# sourceMappingURL=style.css.map */
