.breadcrumbs__inner
  display: flex
  margin-left: 40px
  margin-top: 16px

.breadcrumbs__list
  display: flex
  justify-content: space-between

.breadcrumbs__list li
  a
    text-decoration: none
    color: $text
    margin-right: 8px

  span
    color: $text
    font-weight: bold
