h1 {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    color: white;
    font-family: Marck Script;
    margin-top: 20px;
    text-shadow: -2px 0 #334bd4, 0 2px #334bd4, 2px 0 #334bd4, 0 -2px #334bd4
}

@font-face {
    font-family: Marck Script;
    src: url("fonts/MarckScript.ttf");
}