.list_games
  margin-top: 25px
  margin-left: 20px
  margin-bottom: 25px
  display: flex
  justify-content: space-between

.image-games
  max-width: 300px
  max-height: 150px
  display: inline-block
  overflow: hidden
  border-radius: 14px

  img
    transition: 1s /* Время эффекта */
    display: block

.games img:hover
  transform: scale(1.2)
.games:hover .title-games a
  color: darkred

.footer-inner
  padding-left: 20px

.container
  width: 1139px

.title-games
  text-align: center

  a
    text-decoration: none
    transition: 0.5s
