
.list-games
  display: flex
  justify-content: flex-start

.games-card
  width: 250px
  height: 300px
  display: block
  margin: 10px 30px

.games-card-img
  display: block
  border-radius: 14px
  height: 250px
  weight: 250px
  overflow: hidden

  img
    height: 250px
    weight: 250px
    overflow: hidden
    transition: 0.7s

  img:hover
    transform: scale(1.2)

.games-card a img:hover
  transform: scale(1.2)
.games-card:hover .games-card-title a
  color: darkred

.games-card-title
  text-align: center

  a
    text-decoration: none
    color: yellow
    transition: 0.5s
