.company1
    display: flex
    width: 1000px

    &-png
        margin: 50px

.company2
    display: flex
    width: 1000px

    &-png
        img
            border: 2px solid red
            margin: 50px
            width: 200px
            height: 80px
