.sectionZEN11-common-text
    margin-top: 300px
    margin-right: 150px
    &-h1
        color: #222
        font-weight: 400
        font-size: 36px
        width: 370px
        line-height: 34px

    &-text
        margin-top: 22px
        color: #222
        font-weight: 400
        font-size: 18px
        width: 440px
        &-2
            margin-top: 12px

@media ( max-width: 1050px )
    .sectionZEN-common-text
        display: flex
        flex-direction: column
        justify-content: center

        &-h1
            margin-top: 5%
            text-align: center
            width: 100%
            line-height: 34px

        &-text
            text-align: center
