.ZEN-section8-button
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 400px
    margin: 0 auto
    img
        border-radius: 0

@media ( max-width: 1428px)
    .ZEN-section8-button
        padding: 20px
        display: flex
        justify-content: space-around

@media ( max-width: 450px)
    .ZEN-section8-button
        display: flex
        flex-direction: column
        justify-content: center
        margin: 0 auto
        height: 100%
        width: 100%

        img
            display: block
            margin: 0 auto
            padding: 10px
