.SectionThree
    min-weight: 1000px
    min-height: 880px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

.S3-h1up-text
    position: absolute
    color: white
    text-transform: uppercase
    top: 169px
    left: 800px
    font-family: Bebas Neue
    font-weight: 700
    font-size: 24px
    line-height: 24px

.S3-h1main-text
    position: absolute
    color: white
    text-transform: uppercase
    top: 208px
    left: 800px
    font-family: Bebas Neue
    font-weight: 700
    font-size: 80px
    font-style: normal
