.SectionTwo
    min-weight: 1000px
    min-height: 1100px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

    .h1up
        position: absolute
        color: white
        text-transform: uppercase
        top: 256px
        left: 122px
        font-size: 24px

    .h1Main
        position: absolute
        color: white
        text-transform: uppercase
        font-size: 50px
        top: 293px
        left: 120px
        line-height: 52px
        width: 520px
