.SectionFour
    min-weight: 1000px
    min-height: 880px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

.s4-h1up
    display: block
    text-align: center
    color: white
    text-transform: uppercase
    padding-top: 145px
    font-size: 24px
    line-height: 24px
    letter-spacing: 3px
    font-family: Bebas Neue

.s4-h1main
    display: block
    text-align: center
    color: white
    text-transform: uppercase
    padding-top: 20px
    font-size: 80px
    font-family: Bebas Neue
    line-height: 45px
    letter-spacing: 4px

.TableSOS-wrapper
    width: 60%
    display: flex
    margin: 0 auto
    justify-content: flex-start

.TableSOS-inner
    margin-top: 133px
    width: 573px
    height: 400px
    position: relative

.table
    width: 267px
    height: 120px
    border: 1px solid rgba(151, 151, 151, 0.2)

    &-name
        color: #FFB548
        text-transform: uppercase
        font-weight: 500
        margin-top: 10px
        margin-left: 20px
        font-size: 24px
        font-family: Bebas Neue
        letter-spacing: 2px

    &-text
        color: white
        margin-top: 10px
        margin-left: 20px
        font-weight: 400
        font-size: 18px
        line-height: 22px

    &-os
        position: absolute
        top: 0px
        left: 0px

    &-processor
        position: absolute
        top: 0px
        left: 266px

    &-memory
        position: absolute
        top: 119px
        left: 0px

    &-storage
        position: absolute
        top: 119px
        left: 266px

.table2
    position: absolute
    top: 238px
    left: 0px
    width: 533px
    height: 170px
    border-left: 1px solid rgba(151, 151, 151, 0.2)

    .table-name
        margin-top: 20px

.line1
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 64.8px
    position: absolute
    top: 408px
    left: 0px

.line2
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 402px
    left: 62.4px
    transform: rotate(-45deg)

.line3
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 70px
    position: absolute
    top: 396px
    left: 76.7px

.line4
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 402px
    left: 144px
    transform: rotate(45deg)

.line5
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 362.8px
    position: absolute
    top: 408px
    left: 158.7px

.line6
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 401.5px
    left: 518.5px
    transform: rotate(-45deg)

.line7
    border-right: 1px solid rgba(151, 151, 151, 0.2)
    height: 157px
    position: absolute
    top: 239px
    left: 532px

@media (max-width: 700px)
    .s4-h1up-text
        font-size: 16px

    .s4-h1main-text
        font-size: 40px

@media (max-width: 330px)
    .s4-h1main-text
        font-size: 30px
        line-height: 30px

@media (max-width: 850px)
    .TableSOS-wrapper
        width: 100%
        display: flex
        justify-content: center

@media (max-width: 560px)
    .s4-h1up-text
        padding-top: 40px

    .TableSOS-inner
        margin-top: 40px

    .table
        display: block
        width: 95%

    .table-os
        left: 10px

    .table-processor
        top: 119px
        left: 10px

    .table-memory
        top: 238px
        left: 10px

    .table-storage
        top: 357px
        left: 10px

    .table2
        top: 476px
        display: block
        width: 95%
        border: 1px solid rgba(151, 151, 151, 0.2)

    .table-name
        text-align: center

    .table-text
        text-align: center

    .line1
        display: none

    .line2
        display: none

    .line3
        display: none

    .line4
        display: none

    .line5
        display: none

    .line6
        display: none

    .line7
        display: none
