.SectionTwo
    min-weight: 1000px
    min-height: 1100px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

    .h1up
        position: absolute
        color: white
        text-transform: uppercase
        top: 25%
        left: 12%
        font-size: 24px
        font-family: Bebas Neue

    .h1Main
        position: absolute
        color: white
        text-transform: uppercase
        font-size: 50px
        top: 28%
        left: 12%
        line-height: 80px
        width: 600px
        font-weight: 700
        font-size: 60px
        font-family: Bebas Neue

    .textSectionTwo
        position: absolute
        color: white
        top: 48%
        left: 24%
        font-size: 18px
        width: 360px
        text-align: justify
        font-weight: 400
        line-height: 22px
        font-family: Open Sans

.photo1
    position: absolute
    top: 15%
    left: 55%
    z-index: 3
    cursor: pointer

    img
        width: 490px
        height: 600px

.photo2
    position: absolute
    top: 17%
    left: 59%
    z-index: 2
    cursor: pointer
    img
        width: 450px
        height: 550px

.photo3
    position: absolute
    top: 19%
    left: 64%
    cursor: pointer
    img
        width: 400px
        height: 500px

.switch-img
    position: absolute
    top: 42%
    right: 12%
    cursor: pointer

.point1
    position: absolute
    top: 65%
    left: 60%
    width: 14px
    height: 14px
    background-color: white
    border: 1px solid white
    border-radius: 50%
    z-index: 4
    cursor: pointer

.point2
    position: absolute
    top: 65%
    left: 64%
    width: 14px
    height: 14px
    background-color: transparent
    border: 1px solid white
    border-radius: 50%
    z-index: 4
    cursor: pointer

.point3
    position: absolute
    top: 65%
    left: 68%
    width: 14px
    height: 14px
    background-color: transparent
    border: 1px solid white
    border-radius: 50%
    z-index: 4
    cursor: pointer

.point4
    position: absolute
    top: 65%
    left: 72%
    width: 14px
    height: 14px
    background-color: transparent
    border: 1px solid white
    border-radius: 50%
    z-index: 4
    cursor: pointer

.point5
    position: absolute
    top: 65%
    left: 76%
    width: 14px
    height: 14px
    background-color: transparent
    border: 1px solid white
    border-radius: 50%
    z-index: 4
    cursor: pointer
