.SectionFour
    min-weight: 1000px
    min-height: 880px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

.s4-h1up-text
    position: absolute
    color: white
    text-transform: uppercase
    top: 145px
    left: 570px
    font-size: 24px
    line-height: 24px
    font-family: Bebas Neue

.s4-h1main-text
    position: absolute
    color: white
    text-transform: uppercase
    top: 182px
    left: 419px
    font-size: 60px
    font-family: Bebas Neue

.table
    width: 267px
    height: 120px
    border: 1px solid rgba(151, 151, 151, 0.2)

    &-name
        color: #FFB548
        text-transform: uppercase
        font-weight: 700
        margin-top: 10px
        margin-left: 20px

    &-text
        color: white
        margin-top: 10px
        margin-left: 20px
        font-weight: 400
        font-size: 18px
        line-height: 22px

    &-os
        position: absolute
        top: 388px
        left: 121px

    &-processor
        position: absolute
        top: 388px
        left: 387px

    &-memory
        position: absolute
        top: 507px
        left: 121px

    &-storage
        position: absolute
        top: 507px
        left: 387px

.table2
    position: absolute
    top: 626px
    left: 121px
    width: 533px
    height: 150px
    border-left: 1px solid rgba(151, 151, 151, 0.2)

.line1
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 64.8px
    position: absolute
    top: 775px
    left: 121px

.line2
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 769px
    left: 183px
    transform: rotate(-45deg)

.line3
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 70px
    position: absolute
    top: 763.2px
    left: 197.5px

.line4
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 769px
    left: 264.8px
    transform: rotate(45deg)

.line5
    border-top: 1px solid rgba(151, 151, 151, 0.2)
    width: 362.8px
    position: absolute
    top: 775px
    left: 279.4px

.line6
    border-bottom: 1px solid rgba(151, 151, 151, 0.2)
    width: 17px
    position: absolute
    top: 768.5px
    left: 639.3px
    transform: rotate(-45deg)

.line7
    border-right: 1px solid rgba(151, 151, 151, 0.2)
    height: 137px
    position: absolute
    top: 626px
    left: 653px
