.SectionOne
    min-weight: 1000px
    min-height: 1100px
    background-repeat: no-repeat
    display: block
    background-position: center
    background-size: contain
    position: relative

.container1
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

.header-inner
    margin: 0 auto
    display: flex
    justify-content: space-between
    margin-top: 21.54px
    width: 70%

    .logo
        img
            width: 55px
            height: 55px
            border-radius: 0

    .menu-inner
        display: flex
        justify-content: space-between
        width: 60%

        .submenu-main
            display: flex
            justify-content: space-between
            width: 600px
            margin-top: 20px
            a
                color: white
                text-decoration: none
                text-transform: uppercase
                margin: 0 auto
                transition: 0.5s
                font-weight: 700
                white-space: nowrap
                padding-left: 20px
                padding-right: 20px

                &:hover
                    color: red

    .buttons
        display: flex
        justify-content: space-between
        position: relative
        width: 160px

        .language
            position: absolute
            display: flex
            text-transform: uppercase
            color: white
            font-weight: 700
            top: 30%
            width: 40px
            height: 30px
            cursor: pointer

            &:hover
                color: red

            &-arrow
                margin-left: 5px
                margin-right: 5px

        .separator
            position: absolute
            top: 20%
            left: 38%
            margin-left: 5px
            margin-right: 5px

        .GamePlatform
            display: flex
            justify-content: space-between
            width: 150px
            margin-top: 15px
            margin-left: 80px

.title-wrapper
    margin-top: 10%

.Main-title
    font-family: Bebas Neue
    font-style: bold
    font-size: 80px
    text-align: center
    text-transform: uppercase
    color: white

.sub-title
    margin-top: 40px
    font-family: Bebas Neue
    font-style: bold
    font-size: 24px
    text-align: center
    color: white
    text-transform: uppercase

.button-yellow
    margin: 0 auto
    position: relative
    margin-top: 28.55px
    width: 260.36px
    height: 60px
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%)
    border-radius: 4px
    cursor: pointer

    &:hover
        background: linear-gradient(#fc9804, #d39013)
        border: 1.5px solid darkred

    &-left
        position: absolute
        left: 16.39px
        top: 17.5px
        color: black
        font-size: 16px
        font-weight: 700

    &-center
        position: absolute
        left: 176.17px
        top: 16.54px

    &-right
        position: absolute
        right: 16.39px
        top: 17.5px
        color: black
        font-size: 16px
        font-weight: 700

.the-story
    position: relative
    width: 68px
    height: 25px
    margin: 0 auto
    margin-top: 570px
    margin-button: 20px
    cursor: pointer
    animation: animate-TheStory 1s ease infinite

    &-text
        font-family: OpenSans
        font-style: bold
        font-size: 15px
        color: white
        text-transform: uppercase
        white-space: nowrap

    &-img
        position: absolute
        left: 42%

@keyframes animate-TheStory
    0%
        margin-top: 570px

    50%
        margin-top: 550px

    100%
        margin-top: 570px
