.Meditation-One
    min-weight: auto
    width: 100%
    height: 1100px
    background-repeat: no-repeat
    justify-content: center
    flex-direction: column
    background-position: center
    background-size: cover
    position: relative
    background-image: url(../figma/Mediation/img/Meditation-one.svg)

    &__h1
        padding-top: 70px
        display: block
        margin: 0 auto
        color: white
        font-weight: 400
        font-size: 68px
        line-height: 88px
        text-align: center
        font-family: Merienda One, serif

    &__under-text
        font-size: 24px
        font-weight: 400
        line-height: 31px
        text-align: center
        font-family: Heebo, serif
        max-width: 1109px
        max-height: 70px
        margin: 0 auto
        color: rgba(0, 0, 0, 0.5)
        padding-top: 22px
        padding-bottom: 20px

    &__Get-Start
        display: block
        width: 240px
        height: 70px
        border-radius: 50px
        background: linear-gradient(#259385 100%, #159685 100%)
        color: white
        font-family: Heebo, serif
        font-weight: 700
        font-size: 25px
        text-align: center
        line-height: 280%
        margin: 0 auto
        transition: 0.5s
        margin-top: 40px

        &:hover
            box-shadow: 0px 0px 50px #268a79

    &__img
        display: flex
        justify-content: center
        margin-top: 90px
        img
            width: 591px //591
            height: 558px //558

@media (max-width: 1120px)
    .Meditation-One
        &__under-text
            padding: 24px
            width: 100%
            height: 100%

        &__Get-Start
            margin-top: 60px

@media (max-width: 700px)
    .Meditation-One
        &__h1
            font-size: 58px
            line-height: 77px

        &__under-text
            font-size: 20px

        &__img
            margin: 30px 10px
            img

                width: 100%
                height: 100%

@media (max-width: 700px)
    .Meditation-One__Get-Start
        margin-top: 100px

@media (max-width: 649px)
    .Meditation-One__Get-Start
        margin-top: 120px

@media (max-width: 449px)
    .Meditation-One__under-text
        line-height: 25px

    .Meditation-One__Get-Start
        margin-top: 160px

@media (max-width: 388px)
    .Meditation-One
        height: 900px
        &__h1
            font-size: 48px
            line-height: 52px

@media (max-width: 331px)
    .Meditation-One
        height: 800px
        &__h1
            font-size: 36px
            line-height: 42px

        &__under-text
            line-height: 20px
            font-size: 19px

        &__Get-Start
            width: 216px
            height: 63px

@media (max-width: 331px)
    .Meditation-One__Get-Start
        margin-top: 100px
