h1 {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  color: white;
  font-family: Marck Script;
  margin-top: 20px;
  text-shadow: -2px 0 #334bd4, 0 2px #334bd4, 2px 0 #334bd4, 0 -2px #334bd4
}

.person {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 150px;
}

.person-item__img {
  overflow: hidden;
  border-radius: 50%;
  transition: 1s;
}

.person-item__img:hover {
  box-shadow: 0px 0px 80px yellow;
}

.person-item__img img {
  transition: 1s;
}

.person-item__img img:hover{
  transform: scale(1.1);
}

.person-item__text {
  margin: auto 0;
  font-size: 64px;
  font-family: Marck Script;
  color: red;
  line-height: 70px;
  text-align: center;
  transition: 1s;
}

.person-item__text:hover {
  text-shadow: 0px 0px 4px yellow;
}


@font-face {
  font-family: Marck Script;
  src: url("fonts/MarckScript.ttf");
}