.social-network__title {
    text-align: center;
    font-family: Roboto, sans-serif;
    height: 50px;
    font-size: 34px;
    text-shadow: -2px 0 #334bd4, 0 2px #334bd4, 2px 0 #334bd4, 0 -2px #334bd4;
    color: white;
}

.social-network {
    margin: 0 auto;
    width: 500px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-network button {
    position: relative;
    list-style-type: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}
.social-network button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: blur(20px);
    z-index: -1;
    opacity: 0;
    transition: 1s;
}
.social-network button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    filter: blur(40px);
}
.social-network button:hover:before, .social-network li:hover:after {
    opacity: 1;
}
.social-network button a {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 46px;
    background-color: #BF6363;
    color: #FFF;
    font-size: 20px;
    border-radius: 50%;
}
.social-network button a i {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    transition: 0.5s;
}
.social-network button a:hover i {
    opacity: 1;
    transform: scale(1.5);
}
.social-network button:nth-child(1) a, .social-network button:nth-child(1):before, .social-network button:nth-child(1):after {
    background: #519af5;
    background: linear-gradient(45deg, #4782c6, rgba(71, 130, 198, 0.7));
}
.social-network button:nth-child(2) a, .social-network button:nth-child(2):before, .social-network button:nth-child(2):after {
    background: #f12711;
    background: linear-gradient(45deg, #33a8da, rgba(51, 168, 218, 0.7));
}
.social-network button:nth-child(3) a, .social-network button:nth-child(3):before, .social-network button:nth-child(3):after {
    background: #f12711;
    background: linear-gradient(45deg, #8899f7, rgba(136, 153, 247, 0.7));
}
.social-network button:nth-child(4) a, .social-network button:nth-child(4):before, .social-network button:nth-child(4):after {
    background: #519af5;
    background: linear-gradient(45deg, #4ecb5c, rgba(78, 203, 92, 0.7));
}
.social-network button:nth-child(5) a, .social-network button:nth-child(5):before, .social-network button:nth-child(5):after {
    background: #519af5;
    background: linear-gradient(45deg, #5f44c8, rgba(95, 68, 200, 0.7));
}

@media (max-width: 680px) {
    .social-network {
        width: 80%;
    }
}

@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}
