.list_games
  display: flex
  justify-content: space-around

.image-games-one
  display: block
  margin: 0 auto
  border-radius: 14px
  overflow: hidden
  width: 400px
  height: 400px

.image-games-one img
  transition: 1s /* Время эффекта */
  display: block
  width: 400px
  height: 400px

.image-games-one img:hover
  transform: scale(1.2)
