.tabs-inner
  position: relative
  overflow: hidden
  width: 1200px
  height: 360px

.btn-box
  display: flex
  border-bottom: 1px solid #ccc

  button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    padding: 14px 16px
    margin-right: 50px
    font-size: 20px
    font-weight: bold
    transition: 0.7s

    button:hover
      color: #ff7846

.tabs-content__right img
  width: 350px
  margin-right: 20px

tabs-content__right-calc img
  width: 350px
  margin-right: 50px

.tabs-content
  display: flex
  position: absolute //чтобы все были на одном месте друг на друге
  transform: translateX(300%)
  transition: 0.7s
  justify-content: space-between
  text-align: center
  margin: 20px auto

  &__left
    flex-basis: 60%

    p
      padding: 10px 0
      text-align: left

    a
      width: 150px

      padding: 8px 5px
      border-radius: 20px
      text-decoration: none
      background-color: lightblue
      color: red
      text-align: center

  &__right
    flex-basis: 50%
    text-align: left
    padding: 24px

#content1
  transform: translateX(0px)

#btn1
  color: #ff7846

.button-For-Like
  width: 140px
  height: 140px
  border-radius: 50%
  animation: pulse 1.2s ease infinite
  background: red
  color: darkblue
  font-size: 18px
  cursor: pointer

  button
    background: transparent
    border: none
    color: white
    font-size: 48px
    cursor: pointer

@keyframes pulse
  0%
    transform: scale(1.0)
  50%
    opacity: 0.3
  100%
    transform: scale(1.5)
