.buttons-enters {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-enters li {
  display: inline-block;
  margin-right: 12px;
  margin-left: 12px;
}

.hlink {
  position: relative;
  display: inline-block;
  padding: 8px 14px;
  overflow: hidden;
  border-radius: 14px;
  -webkit-transition: 1s;
  transition: 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#295FFE));
  background: linear-gradient(180deg, transparent, #295FFE);
}

.hlink-text {
  text-decoration: none;
  -webkit-box-direction: normal;
  font-family: Graphik,Arial,sans-serif;
  color: yellow;
  outline: none;
  border-bottom: 1px solid darkorange;
  font-size: 16px;
  line-height: 24px;
}

.hlink-text:hover {
  color: yellow;
}

.hlink-line {
  position: absolute;
  display: block;
}

.hlink-line-top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(yellow));
  background: linear-gradient(90deg, transparent, yellow);
}

.hlink:hover .hlink-line-top {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.hlink-line-bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(yellow));
  background: linear-gradient(270deg, transparent, yellow);
}

.hlink:hover .hlink-line-bottom {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.hlink-line-left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(yellow));
  background: linear-gradient(0deg, transparent, yellow);
}

.hlink:hover .hlink-line-left {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.hlink-line-right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(yellow));
  background: linear-gradient(180deg, transparent, yellow);
}

.hlink:hover .hlink-line-right {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.hlink a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: yellow;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.hlink a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hlink a {
  text-decoration: none;
  position: relative;
}
/*# sourceMappingURL=header-link.css.map */