.SectionSix {
  min-weight: 1000px;
  min-height: 880px;
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: contain;
  position: relative;
}

.s6h1-up {
  position: absolute;
  top: 220px;
  left: 678px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.s6h1-main {
  position: absolute;
  top: 260px;
  left: 678px;
  color: white;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  font-family: Bebas Neue;
}

.s6h1-text {
  position: absolute;
  top: 380px;
  left: 675px;
  width: 645px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: Open Sans;
  line-height: 22px;
}

.s6img-main {
  position: absolute;
  top: 50px;
  left: 160px;
}

.email {
  position: absolute;
  top: 510px;
  left: 676px;
  width: 367px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
}

.email-text {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 21px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}

.email-email .field-email {
  color: #FFB548;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  font-family: Open Sans;
  margin-left: 21px;
  cursor: pointer;
}

.email-email .field-email::-webkit-input-placeholder {
  color: #FFB548;
}

.email-email .field-email:-ms-input-placeholder {
  color: #FFB548;
}

.email-email .field-email::-ms-input-placeholder {
  color: #FFB548;
}

.email-email .field-email::placeholder {
  color: #FFB548;
}

.email-email .field-email:focus {
  outline: none;
}

.ButtonSubscribe {
  position: absolute;
  top: 511px;
  left: 1060px;
  width: 260px;
  height: 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB548), to(#F3AF34));
  background: linear-gradient(#FFB548, #F3AF34);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.ButtonSubscribe:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc9804), to(#d39013));
  background: linear-gradient(#fc9804, #d39013);
  border: 1.5px solid darkred;
}

.ButtonSubscribe button {
  width: 250px;
  height: 50px;
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  font-family: Open Sans;
}

.footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-under {
  position: absolute;
  buttom: 20px;
  width: 1200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
}

.footer-under .under-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 420px;
}

.footer-under .under-menu a {
  color: white;
  text-decoration: none;
}

.rights-text {
  color: #747576;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: Open Sans;
}
/*# sourceMappingURL=sectionSix.css.map */