.work {
    width: 300px;
    height: 410px;
    border: 2px solid #e8e8e8;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.5s all;
    border-radius: 14px;
}

.work:hover {
    box-shadow: 7px 7px 30px rgb(35, 54, 165);
    border: none;
}

.work:hover .work-img {
    transform: scale(1.49);
}
.work-img__wrapper {
    overflow: hidden;
    border-radius: 14px;
}

.work-img {
    display: block;
    transition: 2s;
}
.work-img img{
    border-radius: 14px;
    height: 200px;
    width: 100%;
}

.work-title {
    margin-top: 10px;
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.work-type {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.work-layout {
    border-radius: 5px;
    background-color: rgb(35, 54, 165);
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 24px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-layout a {
    color: #ffffff;
    text-decoration: none;
}

.work-watch {
    border-radius: 5px;
    background-color: rgb(35, 54, 165);
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    width: 131px;
    height: 40px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-watch a {
    text-decoration: none;
    color: white;
}