.Error-text {
    text-align: center;
    color:  red;
    font-family: Roboto, serif;
}

.errors-Body {
    color: red;
    font-family: Roboto, serif;
}

.form-Title {
    color: red;
    font-family: Akronim, serif;
    text-align: center;
    letter-spacing: 7px;
    font-size: 40px;
}

.form-item__title {
    font-size: 21px;
    color:  white;
    font-weight: 700;
}

.form-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    font-family: IndieFlower, serif;
    height: 60px;
}

.form-Wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: Akronim;
    src: url("fonts/Akronim.ttf");
}

@font-face {
    font-family: IndieFlower;
    src: url("fonts/IndieFlower.ttf");
}