.person {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 150px;
}

.person-item__img {
  overflow: hidden;
  border-radius: 50%;
  transition: 1s;
}

.person-item__img:hover {
  box-shadow: 0 0 80px yellow;
}

.person-item__img img {
  transition: 1s;
}

.person-item__img img:hover{
  transform: scale(1.1);
}

.person-item__text {
  margin: auto 0;
  font-size: 64px;
  font-family: Marck Script, sans-serif;
  color: red;
  line-height: 70px;
  text-align: center;
  transition: 1s;
}

.person-item__text:hover {
  text-shadow: 0 0 4px yellow;
}

@media (max-width: 700px) {
  .person {
    padding: 20px;
  }
}